<link href="{{ url_for('static', filename='css/ellias-site/portfolio.css') }}" rel="stylesheet">

<section class="content-section" id="portfolio">
    <div class="container">
        <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Portfolio</h3>
        <h2 class="mb-5">Recent Projects</h2>
        </div>
        <div class="row no-gutters">
        <div class="col-lg-6">
            <a class="portfolio-item" href="https://riverdawgz.epalcu.net">
            <span class="caption">
                <span class="caption-content">
                    <h2>RiverDwagz Golfing</h2>
                    <p class="mb-0">
                        A very simple web-app I created for a buddy of mine during the 2018 PGA Championship!
                    </p>
                </span>
            </span>
            <img class="img-fluid portfolio-img-fluid" src="{{ url_for('static', filename='img/michele-de-paola-752434-unsplash.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-lg-6">
            <a class="portfolio-item" href="https://mademanmovement.org">
            <span class="caption">
                <span class="caption-content">
                    <h2>Made Man Movement</h2>
                    <p class="mb-0">
                        The website I created for the non-profit in which I'm
                        a part of: Made Man Movement :)
                    </p>
                </span>
            </span>
            <img width=100% class="img-fluid portfolio-img-fluid" src="{{ url_for('static', filename='img/janko-ferlic-174927-unsplash.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-lg-6">
            <a class="portfolio-item" href="#">
            <span class="caption">
                <span class="caption-content">
                <h2>Loisa Palcu coming soon!!</h2>
                <p class="mb-0">
                    This is the website I made for my sister, Loisa Palcu! 
                    It is a very complex site that allows her to make changes
                    without my intervention.
                </p>
                </span>
            </span>
            <img class="img-fluid portfolio-img-fluid" src="{{ url_for('static', filename='img/freestocks-org-1124997-unsplash.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-lg-6">
            <a class="portfolio-item" href="https://github.com/epalcu">
            <span class="caption">
                <span class="caption-content">
                <h2>Other Projects</h2>
                <p class="mb-0">
                    Explore my GitHub to view my other projects! Including this site ;)
                </p>
                </span>
            </span>
            <img class="img-fluid portfolio-img-fluid" src="{{ url_for('static', filename='img/github.png') }}" alt="">
            </a>
        </div>
        </div>
    </div>
</section>