{% block content %}

<style>
    #list a:hover {
        position: relative;
        top: -5px;
        box-shadow: 5px 5px 8px #888888;
    }
</style>

<div id="goals">
    <div class="row" style="border-top: 2px solid #f0ad4e;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-image: url('static/images/sandNew.jpg'); background-size: 100% 100%;">
            <br>        
            <div class="list-group" id="list">
                <a class="list-group-item" style="background: rgba(32,56,72,0.97); color: white; border: 1px solid #f0ad4e; box-shadow: 5px 5px 8px #888888;">
                    <i style="color: #c3e6cb" class="fa fa-check fa-fw"></i> Get Bachelor's degree
                    <span class="pull-right text-muted small" style="color: #5bc0de"><em>22 years old</em>
                    </span>
                </a>
                <a class="list-group-item" style="background: rgba(32,56,72,0.97); color: white; border: 1px solid #f0ad4e; box-shadow: 5px 5px 8px #888888;">
                    <i style="color: #c3e6cb" class="fa fa-check fa-fw"></i> Get Master's degree
                    <span class="pull-right text-muted small" style="color: #5bc0de"><em>23 years old</em>
                    </span>
                </a>
                <a class="list-group-item" style="background: rgba(32,56,72,0.97); color: white; border: 1px solid #f0ad4e; box-shadow: 5px 5px 8px #888888;">
                    <i style="color: #ffeeba" class="fa fa-spinner fa-fw"></i> AWS Developer Certification
                    <span class="pull-right text-muted small" style="color: #5bc0de"><em>Pending...</em>
                    </span>
                </a>
                <a class="list-group-item" style="background: rgba(32,56,72,0.97); color: white; border: 1px solid #f0ad4e; box-shadow: 5px 5px 8px #888888;">
                    <i style="color: #ffeeba" class="fa fa-spinner fa-fw"></i> AWS Solutions Architect Certification
                    <span class="pull-right text-muted small" style="color: #5bc0de"><em>Pending...</em>
                    </span>
                </a>
                <a class="list-group-item" style="background: rgba(32,56,72,0.97); color: white; border: 1px solid #f0ad4e; box-shadow: 5px 5px 8px #888888;">
                    <i style="color: #ffeeba" class="fa fa-spinner fa-fw"></i> Move to Dallas
                    <span class="pull-right text-muted small" style="color: #5bc0de"><em>Pending...</em>
                    </span>
                </a>
                <a class="list-group-item" style="background: rgba(32,56,72,0.97); color: white; border: 1px solid #f0ad4e; box-shadow: 5px 5px 8px #888888;">
                    <i style="color: #c3e6cb" class="fa fa-spinner fa-fw"></i> Continue learning and developing awesome software!
                    <span class="pull-right text-muted small" style="color: #5bc0de"><em>Ongoing...</em>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}