{% include "index.html" %}
{% include "resume.html" %}
{% include "message.html" %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119583682-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119583682-1');
</script>

<style>
        
    .timeline-panel:hover {
        position: relative;
        top: -5px;
        padding-bottom: 10 px;
        box-shadow: 0px 5px 8px #888888;
    }
    
</style>

{% block content %}
        
<div class="container-fluid" style="height: 100vh; overflow-y: scroll; background: rgba(32,56,72,0.97); margin-top: -20px;">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="text-align: center">
            <h1 id="pageTitle" class="page-header" style="font-size: 8vh; letter-spacing: .2em; text-align: center; font-family: 'Times New Roman', Times, serif; color: #5bc0de">
                Ellias 
                <embed id="pagePic" src="static/images/me3.jpg" style="margin-left: -15px; border-radius: 60px" width="75vh" height="75vh">
                Palcu
            </h1>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center">
            <form action="/resume">
                <button id="resumeBtn" data-toggle="modal" data-target="#resume" type="button" class="btn btn-secondary btn-lg" style="font-size: 15px; letter-spacing: .3em; font-family: 'Times New Roman', Times, serif; background: rgba(32,56,72,0.97); width: 100%; color: white; border: 2px solid white; box-shadow: 5px 5px 8px #888888;">RESUME</button>
            </form>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
    </div>
    <br>
    <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 73vh;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="border-top: 2px solid #f0ad4e; border-bottom: 2px solid #f0ad4e">
                <div class="item active">
                    <img src="static/images/london.jpg" style="width: 100%; height: 73vh; opacity: 0.7">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 style="color: #5bc0de"><strong>Travel</strong></h2>
                        <p>Countries: <i>Czech Republic, England, Hungary, Ireland, Italy, Jamaica, Mexico, Romania, Scotland</i></p>
                    </div>
                </div>
                <div class="item">
                    <img src="static/images/outreach.jpg" style="width: 100%; height: 73vh; opacity: 0.7">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 style="color: #5bc0de"><strong>Outreach</strong></h2>
                        <p>Non-Profit(s): <i>Made Man Movement</i></p>
                        <p>Organization(s): <i>University of Tennessee, Knoxville</i></p>
                        <p>Activites: <i>Instructing, Mentoring, Professional Development</i></p>
                    </div>
                </div>
                <div class="item">
                    <img src="static/images/soccer.jpg" style="width: 100%; height: 73vh; opacity: 0.7;">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 style="color: #5bc0de"><strong>The Beautiful Game</strong></h2>
                        <p>Teams: <i>Real Madrid, Portugal, Romania</i></p>
                    </div>
                </div>
                <div class="item">
                    <img src="static/images/apple2.jpg" style="width: 100%; height: 73vh; opacity: 0.5; -webkit-filter: sepia(1); filter: sepia(1);">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 style="color: #5bc0de"><strong>Computer Engineering</strong></h2>
                        <p>Skills: <i>Embedded Software, Full-Stack Dev, IoT</i></p>
                        <p>Languages: <i>C/C++, Javascript, Python, Squirrel</i></p>
                    </div>
                </div>
                <div class="item">
                    <img src="static/images/music.jpg" style="width: 100%; height: 73vh; opacity: 0.7;">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 style="color: #5bc0de"><strong>Music</strong></h2>
                        <p>Instruments: <i>Bass Guitar, Drums, Guitar, Piano</i></p>
                        <p>Bands: <i>Celine Dion, James Blunt, Michael Buble, Passenger, Yanni</i></p>
                        <p>Genres: <i>Classical, Folk, Jazz, New Age, Romanian House/Pop</i></p>
                    </div>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <br><br><br><br><br><br><br><br><br>
                <i class="fa fa-chevron-left fa-2x"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <br><br><br><br><br><br><br><br><br>
                <span class="fa fa-chevron-right fa-2x"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center">
            <button id="timelineBtn" type="button" class="btn btn-secondary btn-lg" style="font-size: 13px; letter-spacing: .2em; font-family: 'Times New Roman', Times, serif; background: rgba(32,56,72,0.97); width: 100%; color: white; border: 2px solid white;  box-shadow: 5px 5px 8px #888888;">TIMELINE</button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center">
            <button id="projectBtn" type="button" class="btn btn-secondary btn-lg" style="font-size: 13px; letter-spacing: .2em; font-family: 'Times New Roman', Times, serif; background: rgba(32,56,72,0.97); width: 100%; color: white; border: 2px solid white;  box-shadow: 5px 5px 8px #888888;">PROJECTS</button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center">
            <button id="goalBtn" type="button" class="btn btn-secondary btn-lg" style="font-size: 13px; letter-spacing: .2em; font-family: 'Times New Roman', Times, serif; background: rgba(32,56,72,0.97); width: 100%; color: white; border: 2px solid white;  box-shadow: 5px 5px 8px #888888;">GOALS</button>
        </div>
    </div>
    <br><br>
    {% include "timeline.html" %}
    {% include "projects.html" %}
    {% include "goals.html" %}
    {% include "contact.html" %}
</div>

{% endblock %}

<script src="static/dist/js/home.js"></script>